<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Forecast by City</h4>
        <form action="" ng-submit="submit()">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" ng-model="city">
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Get Forecast">
        </form>
    </div>
</div>